<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card my-5">
            <div class="chill-guy text-end">
                <img src="https://makerworld.bblmw.com/makerworld/model/USe5e9ea92254818/design/2024-11-20_04da945d496e2.jpg?x-oss-process=image/resize,w_1000/format,webp"
             width="50px" alt="chill">
              </div>
          <form [formGroup]="joinRoomForm" class="card-body cardbody-color p-lg-5">
  
            <div class="text-center">
              <img src="https://files.logomakr.com/5MnAz8-LogoMakr.png"
                 width="300px" alt="profile">
            </div>
  
            <div class="mb-3">
              <input formControlName="user" type="text" class="form-control" id="displayname"
                placeholder="Wprowadź nazwę użytkownika">
            </div>
            <div class="mb-3">
              <input formControlName="room" type="text" class="form-control" id="roomname" placeholder="Wprowadź nazwę pokoju">
            </div>
            <div class="text-center">
              <button [disabled]="joinRoomForm.invalid" (click)="joinRoom()" type="submit" class="button px-5 mb-5">Dołącz</button>
            </div>
          </form>

        </div>
  
      </div>
    </div>
  </div>